<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="/css/products.css">

<body>
    <%- include("includes/navigation.ejs") %>

    <main>
        <% if(users.length > 0) { %>
        <div class="grid">
            <% for (let user of users) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="user__name"> <%= user.name %> </h1>
                </header>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>No users found!</h1>
        <% } %>
    </main>

    <%- include("includes/end.ejs") %>